@charset "UTF-8";
body, header, footer, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1.0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif; }

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  font-weight: normal; }

html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: auto auto auto;
  font-size: 1.6rem;
  color: #2e4d6b; }
  @media screen and (max-width: 479px) {
    body {
      grid-template-columns: 1.5rem 1fr 1.5rem; } }
  @media screen and (min-width: 480px) and (max-width: 1279px) {
    body {
      grid-template-columns: 1fr 90% 1fr; } }
  @media screen and (min-width: 1280px) {
    body {
      grid-template-columns: 1fr 75% 1fr; } }
  body > header.site-header {
    grid-row: 1;
    grid-column: 2;
    padding: 3.5rem 0 3rem; }
  body > main {
    grid-row: 2;
    grid-column: 2; }
  body > footer.site-footer {
    grid-row: 3;
    grid-column: 2;
    padding: 3rem 0; }
  body > nav.side-nav {
    position: fixed;
    top: 3.5rem;
    right: 3rem; }

header.site-header h1 {
  padding: 3rem 0 0;
  font-size: 2.5rem; }

main {
  border-top: solid 0.5rem rgba(46, 77, 107, 0.05);
  border-bottom: solid 0.5rem rgba(46, 77, 107, 0.05); }
  main section {
    padding: 3rem 0 4rem; }
    main section + section {
      border-top: solid 0.5rem rgba(46, 77, 107, 0.05); }
  main h1 {
    padding: 1rem 0;
    font-size: 2rem; }
  main * + h1 {
    margin-top: 2rem; }
  main h2 {
    padding: 1rem 0;
    font-size: 1.6rem; }
  main * + h2 {
    margin-top: 2rem; }
  main a {
    color: #0066cc;
    text-decoration: none; }
  main table.leaderboard {
    width: 100%;
    border-collapse: collapse; }
    main table.leaderboard tr th {
      padding: 0.8rem 0.5rem;
      text-align: left;
      font-size: 1.1rem;
      font-weight: bold; }
      main table.leaderboard tr th:first-child, main table.leaderboard tr th:nth-child(2) {
        text-align: center; }
    main table.leaderboard tr td {
      padding: 0.8rem 0.5rem;
      font-size: 1.3rem;
      font-weight: 600; }
      main table.leaderboard tr td:first-child, main table.leaderboard tr td:nth-child(2) {
        text-align: center; }
      main table.leaderboard tr td ul li {
        display: inline-block;
        list-style: none; }
        main table.leaderboard tr td ul li + li {
          margin-left: 1.5rem; }
    main table.leaderboard tr:nth-child(odd) > td {
      background: rgba(46, 77, 107, 0.05); }

footer.site-footer a {
  color: #265973;
  text-decoration: none; }

footer.site-footer:hover {
  text-decoration: underline; }

footer.site-footer .copyright {
  text-align: right;
  font-size: 1.4rem; }
